@using BP_215UniqloMVC.ViewModels.Basket
@model List<BP_215UniqloMVC.ViewModels.Basket.ProductItemVM>
<!-- Body main wrapper start -->
<div class="wrapper wrap__box__style--1">
    <!-- Start Header Style -->
    <header id="header" class="htc-header header--3 bg__white">
        <!-- Start Mainmenu Area -->
        <div id="sticky-header-with-topbar" class="mainmenu__area sticky__header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-2 col-lg-2 col-6">
                        <div class="logo">
                            <a asp-action="Index" asp-controller="Home">
                                <img src="~/assets/images/logo/uniqlo.png" alt="logo">
                            </a>
                        </div>
                    </div>
                    <!-- Start MAinmenu Ares -->
                    <div class="col-md-8 col-lg-8 d-none d-md-block">
                        <nav class="mainmenu__nav d-none d-lg-block">
                            <ul class="main__menu">
                                <li><a asp-action="Index" asp-controller="Home">Home</a>  </li>
                                <li><a asp-action="Shop" asp-controller="Home">Shop</a></li>
                                <li><a asp-action="About" asp-controller="Home"> About</a></li>
                                <li><a asp-action="Contact" asp-controller="Home">Contact</a></li>
                            </ul>
                        </nav>
                        <div class="mobile-menu clearfix  d-block d-lg-none">
                            <nav id="mobile_dropdown">
                                <ul>
                                    <li><a asp-action="Index" asp-controller="Home">Home</a>  </li>
                                    <li><a asp-action="Shop" asp-controller="Home">Shop</a></li>
                                    <li><a asp-action="About" asp-controller="Home"> About</a></li>
                                    <li><a asp-action="Contact" asp-controller="Home">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- End MAinmenu Ares -->
                    <div class="col-md-2 col-lg-2 col-6">
                        <ul class="menu-extra">
                            @if (Context.User.Identity?.IsAuthenticated == true)
                            {

                                <li>
                                    <a asp-action="LogOut" asp-controller="Account">
                                        <span class="ti-shift-right"></span>
                                    </a>
                                </li>

                            }
                            else
                            {
                                <li>
                                    <a asp-action="Login" asp-controller="Account">
                                        <span class="ti-user"></span>
                                    </a>
                                </li>
                            }

                            <li  class="cart__menu"><span class="ti-shopping-cart"></span></li>
                        </ul>
                    </div>
                </div>
                <div class="mobile-menu-area"></div>
            </div>
        </div>
        <!-- End Mainmenu Area -->
    </header>
    <!-- End Header Style -->

    <div class="body__overlay"></div>
    <!-- Start Offset Wrapper -->
    <div class="offset__wrapper">
        <!-- Start Cart Panel -->
        <div class="shopping__cart">
            <div class="shopping__cart__inner">
                <div class="offsetmenu__close__btn">
                    <a href="#"><i class="zmdi zmdi-close"></i></a>
                </div>
                <div class="shp__cart__wrap">
                    @foreach (var item in Model)
                    {
                        <div class="shp__single__product">
                            <div class="shp__pro__thumb">
                                <a href="#">
                                    <img src="~/imgs/products/@item.ImageUrl" alt="product images">
                                </a>
                            </div>
                            <div class="shp__pro__details">
                                <h2><a href="product-details.html">@item.Name</a></h2>
                                <span class="quantity">QTY: @item.Count</span>
                                @if(item.Discount>0)
                                {
                                    
                                    <span class="shp__price">$@(((100-item.Discount)/100)*item.SellPrice)</span>
                                }
                                else
                                {
                                    <span class="shp__price">$@item.SellPrice</span>
                                    
                                }
                            </div>
                            <div class="remove__btn">
                                <a href="#" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                            </div>
                        </div>
                        <div class="shp__single__product">
                            <div class="shp__pro__thumb">
                                <a href="#">
                                    <img src="~/assets/images/product/sm-img/2.jpg" alt="product images">
                                </a>
                            </div>
                            <div class="shp__pro__details">
                                <h2><a href="product-details.html">Brone Candle</a></h2>
                                <span class="quantity">QTY: 1</span>
                                <span class="shp__price">$25.00</span>
                            </div>
                            <div class="remove__btn">
                                <a asp-action="Remove" asp-controller="Basket" asp-route-id="@item.Id" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                            </div>
                        </div>
                    }
                </div>
                    
                <ul class="shoping__total">
                    <li class="subtotal">Subtotal:</li>
                    <li class="total__price">$130.00</li>
                </ul>
                <ul class="shopping__btn">
                    <li><a href="cart.html">View Cart</a></li>
                    <li class="shp__checkout"><a href="checkout.html">Checkout</a></li>
                </ul>
            </div>
        </div>
        <!-- End Cart Panel -->
    </div>
    <!-- End Offset Wrapper -->
