@model CategoryUpdateVM
@{
    ViewData["Title"] = "Update";
    Layout = "_Layout";
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Update </h6>
        <a asp-action="Index" asp-controller="Product" class="btn btn-outline-primary ml-auto">Retuern list</a>

    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="CategoryName"></label>
                <input value="@Model.CategoryName" asp-for="CategoryName" class="form-control">
                <span asp-validation-for="CategoryName" class="text-small text-danger"></span>
            </div>
       
          
       
     
        </form>

        <button type="submit" class="btn btn-primary">Submit</button>

    </div>
</div>

